---
import Social from '../components/Social.astro';
const platform = "github";
const username = "roughandtrue";
---
  <style>
    footer {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 1rem;
      margin-block-start: 2rem;
      background: rgb(251, 221, 212);
      width: 100%;
      padding-block: .75em;
      padding-inline: 1em;
    }
  </style>

<footer>
  <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}/{username}</a> or on <a href=`https://www.${username}.de`>my not-yet-Astro website</a>!</p>

  <Social platform="twitter" username="astrodotbuild" />
  <Social platform="github" username="withastro" />
  <Social platform="youtube" username="astrodotbuild" />

</footer>
